@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');
body {
  background-image: url('./backgroundimage.jpg');
  background-repeat: no-repeat;
  height: 650px;
  background-position: center;
  background-size: cover;
  color: #F1F2F3;
}

button {
  font-family: 'IM Fell Double Pica SC', serif;
  font-size: 20px;
  background-color: #283618;
  color: white;
  border-radius: 0.5em;
  border-color: #606C38;
  margin: 15px;
  padding: 10px;
}

button:hover{
  opacity: 0.7 ;
  
}
/*CSS for Footer*/

.footer {
  min-height: 50px;
  background-color: #242526;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.footer__hidden {
  visibility: hidden;
}

/*CSS for Header*/

.header {
  min-height: 50px;
  background-color: #283618;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 450px) {
  .logo {
    margin-left: 20px;
  }
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  font-family: "Yeseva One";
  font-size: 19px;
  padding: 10px 15px;
  font-weight: 500;
  color: #F1F2F3;
}

.navbar a:hover {
  color: #09d3ac;
}

/*CSS for IntroductionCard*/

.introduction {
  margin: 20px;
}

@media (min-width: 450px) {
  .introduction {
    margin: 100px;
  }
}

.introduction__text {
  background-color: #18191a;
  border-radius: 10px;
  min-height: 500px;
}

.introduction p{
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
